@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

/* Estilos para el contenedor del formulario */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ajusta la altura según sea necesario */
}

/* Estilos para el formulario */
form {
    width: 80%; /* Ajusta el ancho del formulario según sea necesario */
    text-align: center; /* Centra los elementos del formulario */
}

/* Estilos para el título del formulario */
h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #DB241B; /* Cambia el color del texto si es necesario */
}

/* Estilos para la tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #DB241B; /* Cambio de color del borde */
}

th, td {
    padding: 12px;
    text-align: left;
}

/* Estilos para las celdas de encabezado */
th {
    background-color: #DB241B;
    color: white;
}

/* Estilos para las celdas de datos */
td {
    background-color: #080202; /* Cambio de color de fondo */
    color: white; /* Cambio de color del texto */
}

/* Estilos para los inputs y selects */
input[type="text"],
select {
    width: calc(100% - 16px); /* Ajuste para tener en cuenta el padding y el border */
    padding: 8px;
    border: 1px solid #DB241B; /* Cambio de color del borde */
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    background-color: #080202; /* Cambio de color de fondo */
    color: white; /* Cambio de color del texto */
}

/* Estilos para el botón de enviar */
input[type="submit"] {
    background-color: #DB241B;
    color: white;
    padding: 12px 30px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    margin: auto; /* Centra el botón horizontalmente */
    display: block; /* Cambia el botón a un bloque para que ocupe todo el ancho disponible */
}

input[type="submit"]:hover {
    background-color: #BA1B0F;
}
